<ion-header>
    <ion-toolbar>
        <ion-title>Modal Header</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="closeModal()">Close</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-item>
        <ion-label position="floating">Input창</ion-label>
        <ion-input [formControl]="testInput" type="number"></ion-input>
    </ion-item>
    <ion-button [disabled]="testInput.invalid" expand="block" (click)="onSubmit()" class="ion-margin-top">Submit</ion-button>

</ion-content>