<ion-header>
    <ion-toolbar>
        <ion-title>Board</ion-title>
        <ion-buttons slot="start">
            <ion-menu-button menu="main-menu"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding [scrollEvents]="true" (ionScrollStart)="logScrollStart($event)">

    <ion-fab vertical="bottom" horizontal="end" activated="false" slot="fixed">
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
            <ion-fab-button (click)="CreateContent()" color="dark">
                <ion-icon name="create"></ion-icon>
            </ion-fab-button>
            <ion-fab-button (click)="ScrollToTop()" color="light">
                <ion-icon name="arrow-up"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>

    <div id="card-layout">
        <ion-card button *ngFor="let content of boardcontent?.reverse()" (click)="gotoViewer(content)">

            <img width="100%" height="100%" [src]="content.img" />
            <ion-card-header>
                <ion-card-subtitle>Index : {{content.id}}</ion-card-subtitle>
                <ion-card-title>{{content.title}}</ion-card-title>
            </ion-card-header>
            <!-- <ion-card-content>
            {{content.contents}}
        </ion-card-content> -->
        </ion-card>
    </div>
</ion-content>