<ion-header>
    <ion-toolbar>
        <ion-title>TestPage</ion-title>
        <ion-buttons slot="start">
            <ion-menu-button menu="main-menu"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <h3 class="center-align">Text Input</h3>
    <h3 class="center-align">{{InputTest}}</h3>
    <div class="center-align">
        <input type="text" [(ngModel)]="InputTest">
    </div>


    <ion-list>
        <h2>-모달 테스트-</h2>
        <ion-item button *ngFor="let testVal of tests" (click)="openModal()">
            <ion-label>
                <h2>{{testVal.name}}</h2>
                <p>age : {{testVal.age | number}}</p>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>