<ion-header>
    <ion-toolbar>
        <ion-title>Viewer</ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/board"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding [scrollEvents]="true" (ionScrollStart)="logScrollStart($event)">

    <ion-fab vertical="bottom" horizontal="end" activated="false" slot="fixed">
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
            <ion-fab-button (click)="DeleteContent()" color="danger">
                <ion-icon name="trash"></ion-icon>
            </ion-fab-button>
                <ion-fab-button (click)="gotoEditer(getValue)" color="dark">
                <ion-icon name="create"></ion-icon>
            </ion-fab-button>
            <ion-fab-button (click)="ScrollToTop()" color="light">
                <ion-icon name="arrow-up"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>

    <div class="ion-margin">
        <h1>{{getValue.title}}</h1>
        <img [src]="getValue.img" alt="" />
        <p class="text-style">{{getValue.contents}}</p>
    </div>
</ion-content>