<ion-header [translucent]="true">
    <ion-toolbar color="secondary">
        <ion-title>
            EX_UI_HOME
        </ion-title>
        <ion-buttons slot="start">
            <ion-menu-button menu="main-menu"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Blank</ion-title>
        </ion-toolbar>
    </ion-header>

    <div class="first-button">
        <ion-button routerLink="/board" expand="fill" fill="solid" shape="square">
            <ion-icon slot="start" name="star"></ion-icon>
            Go To Working Area
        </ion-button>
    </div>
    <div id="container">

        <!-- <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p> -->
    </div>
</ion-content>