<ion-header>
    <ion-toolbar>
        <ion-title>새로운 글 작성</ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/board:id"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <!-- <h3 class="center-align">Text Input</h3>
    <h3>{{TitleInput}}</h3>
    <div>
        <input type="text" [(ngModel)]="TitleInput">
    </div> -->

    <form [formGroup]="mainForm" (ngSubmit)="SubmitData()">
        <ion-list>
            <h2>제목</h2>
            <ion-input formControlName="title" placeholder="Title"></ion-input>
            <h2>내용</h2>
            <!-- <ion-input formControlName="content" autoGrow="true" placeholder="Content"></ion-input> -->
            <ion-textarea formControlName="content" autoGrow="true" placeholder="Content"></ion-textarea>
            <ion-item>
                <ion-label position="floating">이미지(Link)</ion-label>
                <ion-input formControlName="img"></ion-input>
            </ion-item>
        </ion-list>

        <ion-row>
            <ion-col>
              <ion-button type="submit" color="primary" shape="full" expand="block">
                작성완료
              </ion-button>
            </ion-col>
          </ion-row>
    </form>
</ion-content>