<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Edit Music Data</title>
</head>
<body>
  <h1>글 수정</h1>
  <hr/>
  <form method="post">
    <fieldset>
      <legend>글 수정</legend>
      <table>
        <tr>
            <td><label>Id</label></td>
            <td><input type="text" name="id" value="<%= data.id %>" disabled /></td>
          </tr>
          <tr>
            <td><label>제목</label></td>
            <td><input type="text" name="title" value="<%= data.title %>" /></td>
          </tr>
          <tr>
            <td><label>내용</label></td>
            <td><input type="text" name="contents" value="<%= data.contents %>" /></td>
          </tr>
        </table>
        <input type="submit" value="수정" />
      </fieldset>
    </form>
  </body>
  </html>