<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>List Page</title>
</head>
<body>
  <h1>NEWS List</h1>
  <a href="/insert">글쓰기</a>
  <hr/>
  <table NEWS="1">
    <tr>
      <th>삭제</th>
      <th>수정</th>
      <th>글번호</th>
      <th>제목</th>
      <th>내용</th>
      <th>생성시간</th>
    </tr>
    <% data.forEach(function (item, index) { %>
    <tr>
      <td><a href="/delete/<%= item.id%>">삭제</a></td>
      <td><a href="/edit/<%= item.id %>">수정</a></td>
      <td><%= item.id %></td>
      <td><%= item.title %></td>
      <td><%= item.contents %></td>
      <td><%= item.created %></td>
    </tr>
    <% }); %>
  </table>
</body>
</html>