<ion-app>
    <ion-split-pane></ion-split-pane>
    <ion-menu menuId="main-menu" contentId="main">

        <ion-content>
            <div class="menu-header-bg"></div>
            <div class="header-content">
                <img src="../assets/images/HaruBear.jpg" alt="">
                <ion-label>
                    <h2>UseBy</h2>
                    <p>BeakSu</p>
                </ion-label>
            </div>
            <div class="action-button">
                <ion-button>
                    <ion-icon slot="start" name="add"></ion-icon> Add Something
                </ion-button>
            </div>
            <ion-item>
                <ion-toggle (ionChange)="onClick($event)" slot="end"></ion-toggle>
                <ion-icon slot="start" name="moon"></ion-icon>Night Mode
            </ion-item>
            <ion-list class="menu-items" lines="none">
                <ion-menu-toggle>
                    <ion-item class="active" routerLink="/home">
                        <ion-icon slot="start" name="home"></ion-icon>Home
                    </ion-item>
                    <ion-item routerLink="/inbox">
                        <ion-icon slot="start" name="mail"></ion-icon>Inbox
                    </ion-item>
                    <ion-item routerLink="/outbox">
                        <ion-icon slot="start" name="paper-plane"></ion-icon>Outbox
                    </ion-item>
                </ion-menu-toggle>
                <!--미구현 리스트-->
                <ion-item>
                    <ion-icon slot="start" name="archive"></ion-icon>Archived(non-active)
                </ion-item>
                <ion-item>
                    <ion-icon slot="start" name="trash"></ion-icon>Trash(non-active)
                </ion-item>
                <!--테스트 페이지-->
                <ion-menu-toggle>
                    <ion-item routerLink="/testpage">
                        <ion-icon slot="start" name="add"></ion-icon>TestPage
                    </ion-item>
                </ion-menu-toggle>
                <!--게시판-->
                <ion-menu-toggle>
                    <ion-item class="test_color" routerLink="/board">
                        <ion-icon slot="start" name="book"></ion-icon>Board
                    </ion-item>
                </ion-menu-toggle>

            </ion-list>
        </ion-content>

        
        <ion-header>
            <!-- <ion-toolbar>
                <ion-title>
                    EX_Menu
                </ion-title>
            </ion-toolbar> -->
        </ion-header>
    </ion-menu>

    <ion-router-outlet id="main"></ion-router-outlet>

    <!-- 탭 임시삭제 -->
    
    <!-- <ion-tabs>
        <ion-tab-bar slot="bottom">
            <ion-tab-button tab="account">
                <ion-icon name="person"></ion-icon>
                <ion-label>Account</ion-label>
            </ion-tab-button>
            <ion-tab-button tab="calls">
                <ion-icon name="call"></ion-icon>
                <ion-label>Calls</ion-label>
            </ion-tab-button>
            <ion-tab-button tab="messages">
                <ion-icon name="mail"></ion-icon>
                <ion-label>Messages</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs> -->

</ion-app>